.TimeOfMagicSettings {
  max-width: 600px;
}

.TimeOfMagicSettings-indent {
  padding-left: 24px;
  border-left: 2px solid var(--control-bg);
  margin: 8px 0 16px;
}

.TimeOfMagicSettings .helpText {
  margin-top: 5px;
  margin-bottom: 20px;
  color: var(--muted-color);
  font-size: 12px;
}

.TimeOfMagicSettings .FormControl {
  width: 100%;
  font-family: monospace;
}
