.TimeOfMagicSettings {
  max-width: 600px;
}

.TimeOfMagicSettings-indent {
  padding-left: 24px;
  border-left: 2px solid var(--control-bg);
  margin: 8px 0 16px;
}

.TimeOfMagicSettings-divider {
  border-bottom: 1px solid var(--control-bg);
  margin: 24px 0;
}

.TimeOfMagicSettings-indent .Form-group + .Form-group {
  margin-top: 20px;
}

.TimeOfMagicSettings .helpText {
  margin-top: 5px;
  margin-bottom: 20px;
  color: var(--muted-color);
  font-size: 12px;
}

.TimeOfMagicSettings .FormControl {
  max-width: 400px;
  font-family: monospace;
}
